
@charset "utf-8";

/*--------------------------------------------------
reset, skip, font
---------------------------------------------------*/
/*font*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/*reset*/
:root {
    --Blue-blue_main_7: #051135;
    --Blue-blue1: #F1F6FB;
    --Gray-Gray_2: #D4D4D4; /*그리드 선 색상*/
    --Gray-Gray_6: #333333; 
    --Blue-blue_6: #134A9A;
    --Gray-Gray_4: #777777;
    --Red-Red_4: #D41E36;
    --Grid-grid_top: #E5E9EF; /*그리드 타이틀 백그라운드 색상*/
    --Gray-Gray_5: #515151; /*그리드 타이틀, 본문 글자 색상*/
    --girdtitle18sb-font-size: 18px;
}   
/*margin, padding reset*/
body,html{
	height:100%;
	width:100%;
	overflow-x:hidden;
    background: #F5F6FA;
}
body, div, ul, ol, li, dl, dd, dt, p, select, input, button, form, fieldset, legend, textarea, figure, figcaption, table, th, tr, td {
    margin: 0px; 
    padding: 0px;
    border: none;
    overflow: hidden; 
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.5;
}

/*table reset*/
table, th, tr, td {
    border-spacing: 0; 
    border-collapse: collapse; 
} 
	
/*font reset*/	
h1, h2, h3, h4, h5, h6 {
    margin: 0; 
    padding: 0; 
    height: 0px; 
    font-size:0px; 
    line-height:1; 
}
	
/*img reset*/
img {
    margin: 0; 
    padding: 0; 
    border: none;
    vertical-align: middle;
}

/*link reset*/
 /*링크 클릭시 생기는 점선제거  a{selector-dummy: expression(this.hideFocus=true);}*/
a, a:link, a:visited, a:active, a:hover {
    text-decoration:none;
}
/*--------------------------------------------------
popup
---------------------------------------------------*/
.container {
    width: 100vw;
    height: 100vh;
    flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column;
}
.header {
    width: 100vw;
    height: 72px;
    background: var(--Blue-blue_main_7);
}
.content {
    width: 100vw;
    padding: 20px 20px 0px 20px;
    box-sizing:border-box;
    flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column;

}
.content-wrap {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--Gray-Gray_2);
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    display: flex;
}
.b-padding {
    padding-bottom: 20px;
}
.header-wrap {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 26px 30px;
}
.header-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;   
}
/*버튼 영역*/
.btn {
    height: 40px;
    margin: 16px 20px 0px 0px;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.btn .btn-enable, .btn-disable{
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background: var(--Blue-blue_main_7);
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
}
.btn button:last-child{
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Blue-blue_main_7);
    font-size: 18px;
    font-weight: 400px;
}
.disable-color {
    background-color: var(--Gray-Gray_2);
    color: var(--Gray-Gray_4);
}
.btn-disable {
    background-color: var(--Gray-Gray_2);
    color: #fff;
}
/*항목영역*/
.grid-aside {
    width: 220px;
    height: 100%;
    border-right: 1px solid var(--Gray-Gray_2);
}
.grid-content {
    width: 100%;
}
.grid-tree {
    padding: 16px;
}

/*--------------------------------------------------
grid title
---------------------------------------------------*/
/*그리드 타이틀과 검색, 필터*/
.gird-title {
    border-bottom: 1px solid var(--Gray-Gray_2);
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

}
.grid-title-wrap {
    flex-shrink: 0;
    width: 578.73px;
    height: 30px;
    position: static;
}
.grid-filter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 131px;
    top: 9px;
}
.grid-title-text {
    display: inline-flex;
    flex-shrink: 0; /*글자 넓이 고정*/
    flex-direction: row;
    gap: 10px;
    font-size: var(--girdtitle18sb-font-size, 18px);
    line-height: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
    .status-filter-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
 
/* 드롭다운 스타일 */
.status-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 86px;
}

.status-dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 24px;
    height: auto; 
}

.status-dropdown-text {
    padding: 4px 12px ;
    font-size: 13px;
}

.status-dropdown-list {
    position: absolute;
    top: calc(100% + 2px); 
    left: 0;
    right: 0;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.status-dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc; 
}
.status-dropdown-item:last-child {
    border-bottom: none;
}
.status-dropdown-item:hover {
    background-color: #f0f0f0;
}
/* 드롭다운 상태 */
.status-dropdown.open .status-dropdown-list {
    display: block;
}
.status-dropdown.open .status-dropdown-arrow {
    transform: translateY(-50%) rotate(180deg); /* 화살표 이미지 회전 */
}

/* 검색*/
.serch-input-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 327.73px;
    height: 30px;
    position: relative;
} 
.search-input {
    flex: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('../img/search-x.svg');
    background-repeat: no-repeat;
    background-position: right center; /* 오른쪽 가운데로 정렬 */
    background-size: auto 24px;
}

.search-button {
    width: 24px;
    height: 24px;
    background-image: url('../img/search.svg');
    background-color: #134A9A; /*background: var(--Blue-blue_6, #134A9A);-에러*/
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.top-icon-menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
/* 필터 버튼 이미지 스타일 */
.top-icon {
    background: #333333;
    border-radius: 5px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}
.top-icon-img {
    display: inline-block;
    background: var(--Gray-Gray_6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.red {
    background: var(--Red-Red_4) !important;
}
.blue {
    background: var(--Blue-blue_6);
}
.top-icon-img img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-icon-img:hover,.top-icon-img:active {
    background: var(--Blue-blue_6);
}

  /*--------------------------------------------------
grid
---------------------------------------------------*/
/* 그리드 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 0.3fr) 0.5fr 2fr; /* 첫번째 컬럼 아주 좁게, 나머지 4개는 같은 너비, 마지막 컬럼은 넓게 */
    border: 1px solid var(--Gray-Gray_2); 
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--Gray-Gray_2); 
}
/* 각 행의 행 열의 상하좌우 테두리 제거 */
.grid-container {
    border-top: none;
}
.grid-container:last-child {
    border-top: none;
}
.grid-container:last-child {
    border-bottom: none;
}
.grid-item:first-child{
    border-left: none;
}
.grid-item:last-child {
    border-right: none;
}
.grid-container:first-child {
    background: var(--Grid-grid_top);
    text-align: center; 
    height: 30px;
    font-size: 14px;
    color: var(--Gray-Gray_5);
    font-weight: 500;
}
/* 2번째 행부터 첫번째 컬럼의 내용은 오른쪽 정렬 */
.grid-container:not(:first-child) .grid-item:first-child {
    text-align: right !important;
}
.grid-container:not(:first-child) {
    font-size: 13px;
    font-weight: 400px;
    height: 26px;
}

/* hover 효과를 추가하여 선택된 행의 색상 변경 */
.grid-container:hover {
    background-color: #f0f0f0;
}
/* 마지막 행에 대한 hover 스타일 삭제 */
.grid-container:last-child:hover {
    background-color: inherit; /* hover 효과 삭제 */
}
.grid-list {
    height: 100%;
}
.grid-list-wrap {
    flex: 1; /*남은 공간을 모두 차지하도록 설정*/
    height: 100%;
    margin: 0; /* body의 기본 마진 제거 */
    display: flex; /* flex 컨테이너로 설정하여 내부 요소를 수직으로 배치 */
    flex-direction: column; /* 요소들을 수직으로 배치 */
}
.right {
    text-align: right !important;
}

/*사용의 체크박스*/
.custom-checkbox {
    width: 16px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid var(--Blue-blue_6);
    position: relative;
}

.custom-checkbox:checked {
    background-color: var(--Blue-blue_6);
    border: none;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px; 
    height: 16px;
    background-image: url('../img/check_mark.svg');
    background-size: cover;
    transform: translate(-50%, -50%);
}